body {
    background-color: black;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
  margin-top: 40px;
}

h2 {
  color: white;
  font-size: 42px;
  font-weight: 300;
  margin-top: 50px;
}

.download-link {
  color: aquamarine;
  font-size: 16px;
}

.subtext {
  color: gray;
  font-size: 21px;
}

video {
  margin-top: 20px;
  max-width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.icon {
  margin-top: 30px;
  width: 64px;
  height: auto;
}

footer {
  text-align: right;
  color: gray;
  padding: 20px 10px;
}
